*.pyc
/.env
/reports
/*.sublime-*
/*.komodoproject
/*.tmproj
/*.egg-info/
/*.egg
/.tox
/.coverage
/MANIFEST
/dist/
/build/
/docs/_build/
/docs/pages/CHANGELOG.md
/example/database.sqlite
/example/.env
/report.pylint
.cache/
.python-version
.idea
*.sw[po]
