repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        types_or: [ python, pyi ]

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
    - id: pretty-format-toml
      args: [--autofix]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: "1.22.1"
    hooks:
     - id: django-upgrade
       args: [--target-version, "4.2"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        args: ["--explicit-package-bases", "."]
