name: CI
on: [push, pull_request]
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - uses: actions/checkout@v6
      - run: pip install pre-commit
      - run: pre-commit run --show-diff-on-failure --all-files

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", 3.11, 3.12, 3.13, 3.14]
        django-version: [4.2, 5.1, 5.2, 6.0, "main"]
        exclude:

            # Django 4.2
            - python-version: 3.14
              django-version: 4.2

            # Django 5.1
            - python-version: 3.14
              django-version: 5.1

            # Django 6.0
            - python-version: 3.10
              django-version: 6.0
            - python-version: 3.11
              django-version: 6.0

            # Django main
            - python-version: 3.10
              django-version: "main"
            - python-version: 3.11
              django-version: "main"

    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v6
      - uses: actions/cache@v5.0.2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install Django ${{ matrix.django-version }}
        run: python -m pip install Django==${{ matrix.django-version }}
        if: ${{ matrix.django-version != 'main' }}
      - name: Install Django main branch
        run: python -m pip install -U https://github.com/django/django/archive/master.tar.gz
        if: matrix.django-version == 'main'
      - run: |
          python -m pip install coverage
          python -m pip install -r requirements/common.pip
      - run: coverage run --source=django_tables2 manage.py test

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
            python-version: "3.11"
            cache: 'pip'
            cache-dependency-path: |
              docs/requirements.txt
              common/requirements.txt
      - name: Install and build
        run: |
          cd docs
          python -m pip install -r requirements.txt
          make html
