name: CI
on: [push, pull_request]
jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4.2.0
      - uses: actions/checkout@v3
      - run: python -m pip install --upgrade black
      - run: black --check .

  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4.2.0
      - uses: actions/checkout@v3
      - run: python -m pip install flake8
      - run: flake8

  isort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4.2.0
        with:
            python-version: 3.8
      - uses: actions/checkout@v3
      - run: python -m pip install -r requirements/common.pip isort==5.6.4
      - run: isort --diff --check django_tables2 test

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, "3.10"]
        django-version: [3.2, 4.0, 4.1rc1]
        exclude:
            - python-version: 3.6
              django-version: 4.0
            - python-version: 3.6
              django-version: 4.1rc1
            - python-version: 3.7
              django-version: 4.0
            - python-version: 3.7
              django-version: 4.1rc1
            - python-version: "3.10"
              django-version: 3.2


    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v3
      - uses: actions/cache@v3.0.10
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - run: python -m pip install Django==${{ matrix.django-version }}
        if: matrix.django-version != 'master'
      - run: python -m pip install https://github.com/django/django/archive/master.tar.gz
        if: matrix.django-version == 'master'
      - run: |
          python -m pip install coverage
          python -m pip install -r requirements/common.pip
      - run: coverage run --source=django_tables2 manage.py test
