name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: install tox
      run: pip install tox
    - name: Run a one-line script
      run: tox
